.todosprodutos_lista {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}

.todosprodutos_item {
  position: relative;
  display: flex;
  margin: 20%;
  padding:5%;
  background-color: #a9649f;
  border-radius: 50px 5px;
}
